/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
html {
    scroll-behavior: smooth;

  }

@font-face

{
font-family: "Poppins";
src:url(Poppins-Black.ttf);

}

@font-face

{
  font-family: "Roboto";
  src:url(Roboto-Regular.ttf);

}


body {


  margin: 0px;
}
#home
{
  height: 400px;
  background: linear-gradient(183deg, rgba(32,143,251,1) 27%, rgba(90,183,252,1) 67%);
}
#menucontainer
{
  width: 100%;
  display: flex;
  flex-direction: row;
background: rgba(0, 0, 0, 0.2);

}
#cleft
{


  flex-grow: 1;


}
#cright
{
max-width:600px;

  flex-grow: 1;
}

#sign{
padding-top: 0px;
  padding-left: 12%;
  padding-right: 12%;
  display: flex;
  flex-direction: row;
}
#sign1
{
  margin-right: 30px;
}
#sign2
{
  margin-right: 30px;
}
#sign3
{
  margin-right: 30px;
}
a {
  text-decoration: none;
text-shadow: 2px 2px 4px black;
  color: white;


}
nav {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
background: linear-gradient(183deg, rgba(32,143,251,1) 27%, rgba(90,183,252,1) 67%);
border-right-style: solid;
border-color: #1575CB;
  display: flex;
  flex-direction: column;
  position: fixed;
  opacity: 0;
  transform: translateY(-250px);
  left: 0px;
padding-left: 15px;
  width: 200px;
  height: 200px;
  padding-top: 30px;
  border-radius: 0 0 0px 0px;
transition: 0.5s;
}
nav.open {
  transition: 0.5s;

  transform: translateY(0);
  opacity: 1;

  border-radius: 0 0 100% 0px;
}

#about{
  background: linear-gradient(183deg, rgba(32,143,251,1) 27%, rgba(90,183,252,1) 67%);
  padding-bottom:  30px;
}

#atop{
display: flex;
flex-direction: row;
  }
.atopl
{
  flex-grow: 1;



}
.atopr
{

  flex-grow: 1;

}
#atopc
{
 font-family: "Poppins", sans-serif;
 color: white;
 font-size: 35px;
 font-weight: 700;
  margin-top: 50px;
  flex-grow: 3;

  text-align: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
}

#textabout
{
text-align: left;
margin-top: 15px;
margin-left: 140px;
margin-right: 140px;

font-family: "Roboto", sans-serif;
font-size: 17px;
font-weight: 400;

}
#astop
{
  display: flex;
  flex-flow:row;
}

#menuToggler {
text-shadow: 2px 2px 4px #AAAAAA;
  font-size: 100px ;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  margin-right: 20px;
}

.astopc
{
  display: flex;
  margin-top: 40px;
flex-grow: 3;
flex-flow: column;

}

.int{

  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;

}


.passions{
  background-color: white;
color: #434E5E;
  text-align: center;
font-family: "Poppins", sans-serif;
font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  height: 150px;
  border-width: 3px;
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(239, 241, 240);
    max-width: 190px;
    min-width:180px;

}

#skills{
  background-color: #F7F8FA;
padding-bottom: 70px;
}
#skillstop
{

display: flex;
flex-flow: row;
}
.skillss{
  flex-grow: 1;
}
#skillsc
{
  color: #434E5E;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-top: 40px;
  text-align: center;
  flex-grow: 3;
}

#skillstops
{
  flex-flow: row;

  display:flex;
  justify-content:space-around;

}
.sidesskills
{


  flex-grow: 1;
}
.skillsx
{
display:block;

  background-color: white;
  margin-top: 70px;
  text-align: center;
justify-content: center;
  height: 300px;
min-width: 300px;
margin-left: 15px;
margin-right: 15px;

flex-grow: 1;
border-radius: 0px;
border-style: solid;
border-width: 1px;
border-color: rgb(239, 241, 240);
box-shadow:  2px 2px 4px #AAAAAA;

}
.circles
{
 transform: translate(0px, -50px);
  text-align: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;


  background-color: rgba(32,143,251);
}
.skillsblock
{

  justify-content: center;
  display: flex;
  margin-bottom: -30px;
}
.skillx
{

  color: #434E5E;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}
.tick
{
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 17px;
  color: #636E7E;
  font-family: "Poppins", sans-serif;
  margin-left: 15%;
  text-align: left;
}
/* TABLET STYLES */

@media screen and (min-width: 730px) {

  /* applies to screens wider than 499px */

  #menuToggler {
    display: none;
  }

a {
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
    font-family: "Poppins", sans-serif;
  text-decoration: none;
letter-spacing: 0.1rem;
 font-weight: 400;
font-size: 14px;
  text-align: center;
  flex-grow: 1;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
height: 40px;



}
a:hover:not(.active) {
transition: all 0.3s ease-in-out;
border-bottom:  solid 1px #019fb6;


}
.active {
  font-weight: 700;
border-bottom: solid 1px;


}

.icon
{
  display: flex;
justify-content: center;
    font-family: "Poppins", sans-serif;
  text-decoration: none;
letter-spacing: 0.1rem;
 font-weight: 400;
font-size: 14px;
  text-align: center;
  flex-grow: 0;
  list-style-type: none;
  margin-right: 17px;
  padding: 0;
  overflow: hidden;
height: 40px;
transform: rotate(0deg);
transition: all 0.3s;

}

.icon:hover:not(.active) {
transition: all 0.3s;
border-bottom:  solid 0px #019fb6;
transform: rotate(360deg);
}

  nav {

padding-left: 7%;
padding-right: 7%;
background: none;
    display: flex;
    flex-direction: row;
    position: static;
    opacity: 1;
    transform: translateX(0);
    width:auto;
    height: auto;
    border-radius: 0 0 0 0;
    transition: all 0.3s;
    padding-top: 0px;
    border-right-style: none;
  }

}

#homeb
{
  display: flex;
  flex-direction: row;

}

#homebl
{
  flex-grow: 1;


}
#homebr
{
  flex-grow: 1;


}
#picture {
  padding-right: 30px;
}

#insidehomeb
{
  width: 1150px;
margin-top: 50px;
display: flex;
flex-direction: row;



}

#homertekst{
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;

  color: white;
  word-wrap: break-word;

}
#name
{
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 100;
}

#btn {
  background: rgba(0, 0, 0, 0.2);

  	border-radius:4px;
  	display:inline-block;
  	cursor:pointer;
  	color:white;
  	font-family: "Poppins", sans-serif;
  	font-size:17px;

  	padding:11px 33px;
  	text-decoration:none;
}
/* DESKTOP STYLES */

@media screen and (max-width: 1230px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }

  #insidehomeb
  {
    width: 1000px;
  }
  @media screen and (max-width: 1030px) {

    /* applies to screens wider than 999px */

    body {
      background: #ccf;
    }

    #insidehomeb
    {
      width: 700px;
    }
    #home
    {
      height: 450px;
    }
  .skillsx
  {
    min-width: 200px;
  }


    @media screen and (max-width: 730px) {

      /* applies to screens wider than 999px */


      body {
        background: #ccf;
      }
      #insidehomeb
      {
        align-items: center;
        justify-content: center;

        flex-direction: column;
        width: 500px;
      }
      #homertekst
      {
        text-align: center;
      }
      #home
      {
        height: 700px;
      }
      #skillstops
      {
        flex-direction: column;
      }
      .skillsx
      {
        margin-left: 15%;
        margin-right: 15%;
      }
      #textabout{
        margin-left: 20px;
        margin-right: 20px;
      }

      #sign{
        display: flex;
        justify-content: flex-end;
      }
      #cright
      {
        max-width: 0px;
      }
      .icon{
        z-index: 5;
        margin-left: 10px;
        margin-right: 10px;
      }

      .icon:hover:not(.active) {
      transition: all 0.3s;
      border-bottom:  solid 0px #019fb6;
      transform: rotate(360deg);
      }
}
